/* =========> CSS Settings <========= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* ====== Header ======= */

header {
    text-align: center;
}

/* Arrow */

header a {
    position: absolute;
    left: 22px;
    top: 22px;
    font-size: 20px;
    color: black;
}

.title h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 27px;
    padding: 14px;
}


/* ====== Main ======= */

/* ==== Main menu ==== */

.main-menu img {
    width: 100%;
    height: 16em;
    object-fit: cover;
}

/* == Menu container == */

.menu-container {
    background-color: #f2f1f1;
    border-radius: 40px 40px 0 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    transform: translate(0px, -60px);
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu-title h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 25px;
}

.fa-heart {
    font-size: 25px;
    padding-right: 10px;
}

.fa-heart:hover {
    background: linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
    color: transparent;
    font-weight: 700;
    -webkit-background-clip: text;
    cursor: pointer;
}

/* Menu entree */

.menu-entree {
    padding: 10px 0;
}

.menu-entree h3 {
    font-weight: 400;
}

.menu-entree h3::after {
    content: "";
    width: 50px;
    height: 3.5px;
    display: block;
    position: absolute;
    background-color: #99E2D0;
    margin-top: 4px;
}

/* Menu card */

.menu-card {
    background-color: white;
    margin: 22px 0;
    padding: 10px 25px 10px 12px;
    border-radius: 20px;
    box-shadow: 0px 7px 14px -5px rgb(0 0 0 / 30%);
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    z-index: 0;
    cursor: pointer;
    /* animation-fill-mode: both; */
    /* text-indent: 0px; */
}

.menu-card_content {
    width: 100%;
}

.menu-card_title h4 {
    font-size: 20px;
    font-weight: 700;
    padding: 6px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-card_text {
    display: flex;
    justify-content: space-between;
}

.menu-card_text p {
    font-size: 16px;
    font-weight: 400;
    padding: 6px 0;
    position: relative;
}

.menu-card_text p:nth-child(1) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-card_valid {
    background-color: #99E2D0;
    width: 88px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    right: -89px;
    transition: 0.8s ease-in-out;
}

.menu-card_text strong {           /* a revoir */
    transition: 0.8s ease-in-out;
}

.menu-card:hover .menu-card_text strong {
    right: 89px;
    position: absolute;
}

.menu-card:hover .menu-card_valid {
    right: 0px;
}

.menu-card_valid i {
    color: white;
    font-size: 20px;
    transition: 1s ease-in-out;
}

.menu-card:hover .menu-card_valid i {
    transform: rotate(360deg);
}